html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#userDetails {
    margin-bottom: 0;
}

#listId {
    margin-top: 5px;
}

h3 {
    margin: 5px 0 5px 0;
}

#lists {
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

#lists > div {
    border-style: dotted;
    border-color: red;
    width: 33.33%;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.itemForm, #listForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

